version: '3.8'

services:
  umd-app:
    build: .
    container_name: umd-container
    # Mapeamos el puerto 3001 de tu PC al 3000 de Docker
    ports:
      - "3001:3000"
    # Pasamos las variables de tu archivo .env local
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
      - NEXTAUTH_URL=${NEXTAUTH_URL}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
    restart: always